<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles/styles.css">
        <title>Guia de perguntas</title>
        
    </head>
    <body>
<h1> Guia  de Perguntas </h1>
        <p>Nome: <%= nome %> </p>
        <p> teste : <%= lang %></p>
        <p><%= empresa %></p>
    
    </body>
</html>