<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Guia de perguntas</title>
    </head>
    <body>

        <p>Nome: <%= nome %> </p>
        <p> teste : <%= lang %></p>
        <p><%= empresa %></p>
    
    </body>
</html>